<div class="playground">
  <div class="income-cards">
  {{#each}}
      {{income-card card=this zIndex=zIndex}}
  {{/each}}
  </div>
  <div class="quintile-bins">
  {{#each bin in bins}}
      {{quintile-bin bin=bin}}
  {{/each}}
  </div>
</div>

<div class="button-bar">
  {{#if successMessage}}<span class="success-message">{{successMessage}}</span>{{/if}}
  {{#if errorMessage}}<span class="error-message">{{errorMessage}}</span>{{/if}}
  <button {{action 'checkAnswers'}}>Check Answers</button>
</div>
